@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Docker World!</h1>
    <p> This is my first containerized .NET application.</p>
    <p> Current Time:
    @DateTime.Now</p>
</div>
